<%- include('includes/head', { pageTitle: 'An error has occured.' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not authenticated.</h1>
    <p>You are not an authenticated user. Please login or sign up.</p>
    <p><a class="btn" href="/">Back to main page</a></p>   
  </main> 
<%- include('includes/footer') %>
