<%- include('includes/head', { pageTitle: 'An error has occured.' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Resource not found.</h1>
    <p>Unfortunately something went wrong - we could not find the requested resource.</p>
    <p><a class="btn" href="/">Back to main page</a></p>   
  </main> 
<%- include('includes/footer') %>
