<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order successful</h1>
  </main>
<%- include('../../shared/includes/footer') %>